<div class="grid grid-cols-1 divide-y" data-test-id="movie-list">
  <% @movies.each do |movie| %>
    <section class="grid grid-cols-4 gap-5 py-10">
      <div class="image col-span-1 text-center flex">
        <%= main_image(movie) %>
      </div>
      <div class="flex col-span-3 flex-col space-y-5">
        <h2><%= link_to movie.title, movie %></h2>
        <div class="grid grid-cols-3 divide-x-4 text-center">
          <div><%= total_gross(movie) %></div>
          <div><%= movie.director %></div>
          <div><%= movie.duration %></div>
        </div>
        <p>
          <%= truncate(movie.description, length: 150, seperator: ' ') %>
        </p>
      </div>
    </section>
  <% end %>
  <div class="mx-auto width-full">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
<% if current_user_admin? %>
  <section class="admin mt-10">
    <%= link_to "New", new_movie_path, class: "btn btn-primary" %>
  </section>
<% end %>
