<section class="mb-10">
  <%= image_tag(@movie.image_file_name, :class => "object-cover w-auto
                h-40 mb-3", :alt => "Movie poster") %>
  <h2 class="mb-5"><%= @movie.title %></h2>
  <% if current_user %>
    <div>
      <%= like_of_unlike_button(@movie, @favorite) %>
      <div class="count">
        <%= @movie.favorited_by.size %>
      </div>
    </div>
  <% end %>
  <h3 class="mb-3"><%= total_gross(@movie) %></h3>
  <p>
    Released: <strong><%= @movie.released_on.year %></strong><br/>
    Rated: <strong><%= @movie.rating %></strong><br/>
    <%= @movie.description %>
  </p>
  <div class="reviews my-4">
    <%= render 'shared/stars', percent: @movie.average_stars_as_percent %><%= @movie.average_stars %>
  </div>
  <%= link_to "See movie Reviews", movie_reviews_path(@movie), class: "btn btn-primary" %>
  <strong><%= pluralize(@movie.favorited_by.size, "Person") %> has this on their favorites list</strong>
</section>
<section class="mb-10">
  <h2>Write your own review!</h2>
  <%= render "reviews/form", movie: @movie, review: @review %>
</section>
<% if current_user_admin? %>
  <section class="admin mb-10">
    <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-primary" %>
    <%= link_to "Delete", @movie, class: "btn btn-error", method: :delete, 
  data: {
    confirm: "Really?"
  } %>
  </section>
<% end %>
