<section class="mb-10">
  <h1><%= @user.name %></h1>
  <h2><%= mail_to(@user.email) %></h2>
  <% if has_username?(@user) %>
    <h2>Username: <%= @user.username %></h2>
  <% end %>
  <% if current_user?(@user) %>
    <div class="actions mt-4">
      <%= link_to "Edit Account", edit_user_path(@user), class: "btn btn-primary" %>
      <%= link_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-error" %>
    </div>
  <% end %>
</section>
<section class="mb-10">
  <h2>Favorite Movies</h2>
  <% if @user.favorite_movies.length > 0 %>
    <ul>
      <% @user.favorite_movies.each do |movie| %>
        <li><%= link_to movie.title, movie %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No Favorites</P>
    <p>
      <%= link_to "Pick a movie to favorite", movies_path %>
    </p>
  <% end %>
  <section>
    <section class="mb-10">
      <h2>Reviews</h2>
      <% if @user.reviews.length > 0 %>
        <% @user.reviews.each do |review| %>
          <%= render 'reviews/review', movie: review.movie, review: review %>
        <% end %>
      <% else %>
        <p>No Reviews yet</P>
        <p>
          <%= link_to "Pick a movie to review", movies_path %>
        </p>
      <% end %>
    </section>
